
 
          <div class="dropdown">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/home">Home</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">StudentsList</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/add">Add Student</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/contact">ContactUS</a>
              </li>
            </ul>
          </div>
    
<router-outlet></router-outlet>
