<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
      <form action="/action_page.php">
        <div class="container">
                <img style="width:100%" alt="Contact Logo" src="assets/contact1.jpg">
            <div class="top-left">       
        <h1 style="color:cornflowerblue;font-family:verdana">Contact Us</h1>
         <hr> 
        <label for="fname"><b>First Name</b></label><pre></pre>
        <input type="text" placeholder="Your First Name" name="fname" id="fname"
        required><pre></pre><pre></pre>
        <hr>
        <label for="email"><b>Email</b></label><pre></pre>
        <input type="text" placeholder="Your Email" name="email" id="email"
        required><pre></pre>
        <hr>
        <label for="sub"><b>Query</b></label><pre></pre>
        <textarea rows="2" cols="20" placeholder="Write Your Message"></textarea>
    
        <hr>
        </div>
        <div class="top-bottom">
          <form (ngSubmit)="submit()">
        <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        </div>
        
        </form>   
</body>
</html>
