.container{
    position: relative;
    text-align:left;
    color:black;
   
}
.top-left{
    position:absolute;
    bottom:50px;
    left:220px;
    top:30px;
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
}
.top-bottom{
    position: absolute;
    bottom: 80px;
    left: 120px;
    top: 170px;
    font-family:'Times New Roman', Times, serif;
}
